body{
    background-color: #5F7AD3;
}

ul{
    margin: 0;
    li{
        text-decoration: none;
        display: inline-block;
    }
}

a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.698398);
}