@import "/src/scss/fonts.scss";
@import "/src/scss/global.scss";

.wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1300px;
}

// ************************************** GRID AREA **************************
.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 80px 368px 100px;
}
header {
    white-space: nowrap;
    display: grid;
    grid-template-columns:
        minmax(100px, 318px) minmax(130px, 130px) auto auto auto auto minmax(32px, 400px)
        minmax(42px, 77px);
}
.playing-now {
    display: grid;
    grid-template-columns: 35px minmax(100px, 1265px);
    grid-template-rows: 368px;
}

.playing-now__film {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 260px)) minmax(100px, 242px);
    grid-template-rows: 368px;
    grid-column-gap: 4px;
}
.playing-now__block__red{
    grid-template-columns: 100%;
    grid-template-rows: 122px 124px 122px;
}
// ************************************** END GRID AREA **********************
// ************************************** HEADER *****************************
header {
    height: 80px;
    .logo {
        padding-left: 20px;
        padding-top: 13px;
        max-width: 347px;
    }
    .menu-link {
        text-align: center;
    }
    .menu-link :not(:last-child) {
        margin-right: 14px;
    }
    .menu-link :not(:first-child) {
        margin-left: 14px;
    }
    .menu-link:hover {
        background-color: #ea4737;
        color: #ffffff;
        .menu-link__link {
            color: #ffffff;
        }
    }
    .menu-link__link {
        display: block;
        padding-top: 32px;
        padding-left: 29px;
        padding-right: 28px;
    }
    .typo-menu__profile img {
        margin-top: 19px;
    }
    .typo-menu__search {
        text-align: right;
        padding-top: 24px;
        padding-right: 26px;
    }

    .typo-menu__profile {
        img {
            margin-top: 19px;
        }
        .typo-menu__profile-big-ring {
            margin-top: 13px;
            position: absolute;
            width: 20px;
            height: 20px;
            background: white;
            border-radius: 50%;
            margin-left: 28px;
        }
        .typo-menu__profile-ring {
            margin-top: 13px;
            position: absolute;
            width: 18px;
            height: 18px;
            background: #00c853;
            border-radius: 50%;
            margin-left: 30px;
            text-align: center;
            color: #ffffff;
        }
    }
}

// ************************************** End HEADER *************************
// ************************************** PLAYING NOW AREA *******************
.playing-now__baner {
    white-space: nowrap;
    background-color: #2998e2;
    .baner-transform-text {
        margin-top: 264px;
        -webkit-transform: rotate(-90deg); //Chrome, Safari
        -moz-transform: rotate(-90deg); //Firefox
        -o-transform: rotate(-90deg); //Opera
        -ms-transform: rotate(-90deg); //IE
        transform: rotate(-90deg); //браузеры без префексов
    }
}

.playing-now {
    .playing-now__main-image {
        width: 100%;
        height: 100%;
        max-width: 252px;
        max-height: 368px;
    }
}

.playing-now__block{
    position: relative;
}

.playing-now__block__red{
    position: absolute;
    display: none;
    background-color: #FF2F1B;
    opacity: 58%;
    width: 100%;
    height: 100%;
}

.playing-now__block__white{
    position: absolute;
    display: none;
    background-color: #FFFFFF;
    opacity: 30%;
    width: 100%;
    height: 100%;
}

.playing-now__block__red-ticket, .playing-now__block__red-info, .playing-now__block__red-watch{
    margin: auto auto;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.playing-now__block__red-link:hover{
    .playing-now__block__white{
        display: block;
    }
}

.playing-now__block:hover{
    .playing-now__block__red{
        display: grid;
        z-index: 2;
    }
}

.playing-now__block__red-link{
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: block;
}
// ************************************** End PLAYING NOW AREA ***************
